{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">
  <title>To Do List</title>
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
  <link href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css'>
  <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css'>
  <!--[if lt IE 9]>
		<script src="{% static 'assets/js/html5shiv.min.js' %}"></script>
		<script src="{% static 'assets/js/respond.min.js' %}"></script>

	<![endif]-->
  {% block head %}
  {% endblock %}
</head>

<body>
<div class="main-wrapper">
  <div class="page-wrapper">
    {% block content %}
    <div class="page-content page-container" id="page-content">
      <div class="padding">
        <div class="row container d-flex justify-content-center">
          <div class="col-md-12">
            <div class="card px-3">
              <div class="card-body">
                <h4 class="card-title">To Do list</h4>
                <form action="" method="post">
                  {% csrf_token %}
                  <div class="add-items d-flex">
                    <input id="id_name" name="name" type="text" class="form-control todo-list-input" placeholder="What do you need to do today?" ><button class="add btn btn-primary font-weight-bold todo-list-add-btn" type="submit">Add</button>
                  </div>
                </form>
              <br>
                <div class="list-wrapper">
                  <span class="badge badge-warning h5">Ongoing</span>
                  <ul class="d-flex flex-column-reverse todo-list">
                    {% for task in incomplete_task_list %}
                      <li>
                        <h4>{{ task.name }} {% if not task.is_complete %}<a class="btn btn-success" href="{% url 'todo:complete' task.id %}"><i class="fa fa-check"></i> Complete</a>{% endif %} <a class="btn btn-danger" href="{% url 'todo:delete' task.id %}"><i class="fa fa-trash"></i> Delete</a></h4>
                      </li>
                    {% endfor %}
                  </ul>
                  <span class="h5 badge badge-success">Complete</span>
                  <ul class="d-flex flex-column-reverse todo-list">
                    {% for task in complete_task_list %}
                      <li>
                        <h4>{{ task.name }} <a class="btn btn-danger" href="{% url 'todo:delete' task.id %}"><i class="fa fa-trash"></i> Delete</a></h4>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
  </div>
</div>
<div class="sidebar-overlay" data-reff=""></div>
<script type="text/javascript" src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/jquery.slimscroll.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/select2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/morris/morris.min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/plugins/raphael/raphael-min.js' %}"></script>
<script type="text/javascript" src="{% static 'assets/js/app.js' %}"></script>
</body>

</html>